/* In main.css ---- Use Flexbox row direction so that you have a horizontal list of items. */

#foodList {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section article {
    border: solid red;
    
}